/* Navbar.css */

.navbar{
    background-color: black;

}
.navbar .logo{

  padding-top:20px;

}
.navbar .navbar-logo{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    padding-left:20px;


}
.navbar .navbar-logo:hover{

  color: gainsboro;
}

.navbar .nav-buttons{

  display: flex;
  justify-content: flex-end;
  gap:20px;
  margin-top:-30px;
  margin-right:20px;
}
.navbar .nav-buttons .sign-in{
  background-color: black;
  color: white;
  border: none;
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-size:18px;
  text-decoration: none;

}
.navbar .nav-buttons .sign-in:hover{

  color:grey;
}
.navbar .nav-buttons .subscribe {
  margin-top: -3px;
  background-color: white;
  border-radius: 5px;
  height: 20px;
  text-decoration: none; /* Remove underlines */
  font-weight:600;
  color: black;
  display: inline-block; /* Ensures the link behaves like a block element */
  padding:5px; /* Adjust padding as needed */
}

.navbar .nav-buttons .subscribe:hover {
  background-color: black;
  color: white;
}

.navbar-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 34, 34);


  }

  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    margin-top: 10px;
    margin-right: 20px; /* Adjust as needed */
    padding:5px;

  }

  .nav-links {
    text-decoration: none;
    color: white; /* Adjust as needed */
  }
  .nav-links:hover{
    text-decoration: underline;
  }






  /* Navbar.css */

.signup-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.signup-modal h2 {
  margin-top: 0;
}

.signup-modal form div {
  margin-bottom: 10px;
}

.signup-modal form label {
  display: block;
  margin-bottom: 5px;
}

.signup-modal form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.signup-modal button {
  margin-top: 10px;
}
